<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/style.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='flask-logo.ico') }}" />
<a href="https://github.com/HusDev/multilingual-flask">
    <img style="z-index:4 ;  position: fixed; top: 0; left: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/left-graphite@2x.png"
        alt="Fork me on GitHub">
</a>
    <title>متعدد اللغات مع فلاسك</title>
</head>

<body style=" margin: 0px ;background-color:#26a69a; ">
<style>
    *{
        font-family: 'Cairo', sans-serif;
    }
</style>

    <!-- navbar -->
     {% include 'ar/snippets/navbar.html' %}

    <div class="row">
        <!-- sidebar -->
         {% include 'ar/snippets/sidebar.html' %}
        <!-- main -->
     {% include 'ar/snippets/main.html' %}

    </div>



    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
</body>

</html>