<style>
    #submit{
        color:white ; 
    }
</style>
<div class="col s3 hide-on-small-only" style="background-color:#90a4ae;  height:100vh; position:fixed ; left:0px; top:65px ; ">
    <!-- Grey navigation panel -->
    <div class="flat-pannel">
        <h5>منشور جديد</h5>

        <form method="POST" enctype="multipart/form-data" class="col s12">
            {{ form.csrf_token }} {{ form.hidden_tag() }}
            <div class="row" style="margin-bottom:0px">
                <div class="input-field col s12">
                    {{ form.title(placeholder="العنوان",style="color:#32393d;") }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.content(class="materialize-textarea",placeholder="المحتوى",style="color:#32393d") }}
                </div>
            </div>
            <div class="row">
                 {{ form.submit(class="btn-small gray waves-effect waves-light") }}
                    <!-- <i class="material-icons right">send</i> -->
            </div>
        </form>
        <p>
            <a href="{{ url_for('index',lang='en') }}" style="color:white">English language</a>
            |
            <a href="{{ url_for('index',lang='ar') }}" class="lang" style="color:#000000b3"> اللغة العربية</a>
        </p>
    </div>
</div>